<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>

        <!--Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            #aboutus{
                    text-align: center;
                    font-weight: bold;
                    }
            #box{
                text-align: center;
            }
         </style>
        </head>
  <body>
      <%- include('partials/header_two'); -%>

      <h2 id="aboutus">About Us</h2>
      <br>
      <p><div id="box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Tristique et egestas quis ipsum suspendisse ultrices.Ultricies tristique nulla aliquet enim tortor at auctor urna nunc.
         Eget nulla facilisi etiam dignissim diam quis enim. Eget gravida cum sociis natoque penatibus et magnis dis parturient. 
         Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. 
         Nulla posuere sollicitudin aliquam ultrices sagittis orci. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. 
         Consectetur purus ut faucibus pulvinar elementum integer. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. 
         Scelerisque viverra mauris in aliquam sem fringilla ut. Felis imperdiet proin fermentum leo vel. At elementum eu facilisis sed odio morbi. 
         Risus quis varius quam quisque id diam vel.
    </p>
    </div>
    
  </body>
</html>

