<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>

        <!--Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            #aboutus{
                    text-align: center;
                    font-weight: bold;
                    }
            #box{
                text-align: center;
                padding: 2% 5%;
            }
         </style>
        </head>
  <body>
      <%- include('partials/header_two'); -%>

      <h2 id="aboutus">About Us</h2>
      <br>
      <p><div id="box">
        Gitanjali Chaturvedi and Associates is a practicing Company Secretary firm registered with the Institute of Company Secretaries of India (ICSI) providing quality services and solving complexities relating to corporate law and other various law matters.
We always put the client’s interest and satisfaction on the forefront and have been delivering quality and prompt services in the areas of company law, compliances, corporate governance issues, Intellectual property rights, Legal drafting of agreements, Goods and service tax, Securities laws etc.
Our mission is to cater wide range of services to our clients and make worth their time and money invested on us by rendering quality and prompt services. We believe in client’s satisfaction and authenticity of work as our primary goal. 

    </p>
    </div>
    
  </body>
</html>

