<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
      <!--Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- CSS include -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,900|Ubuntu&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ac060bbd11.js" crossorigin="anonymous"></script>


  </head>
  <body>
<div class = "no_footer">
  <div class="container_home">
            <%- include('partials/header'); -%>
        <div class="overlay">
          <h1>Saalon itna tax bharte ho paisa time se diya karo</h1>
          <h2>Buri Nazar waale tera mooh kaala</h2>
        </div>

              <!-- Services -->
          <section id="Services">
           <div class = "services">
          <div class="row">
            <div class="pricing-column col-lg-4 col-md-6 col-sm-12" style="
    padding-right: 0px;
    padding-left: 0px;
">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title">Companies act,2013 & LLP act,2008</h4>
                  <p>Business startup and closure</p>
                  <p>Formation of companies/NPO/LLP</p>
                  <p>Annual filing</p>
                  <p>All the ROC and RD compliances </p>
                  <p>All the compliances related to LLP</p>
                  <p>Audit & Certification</p> 
                  <p>Corporate advisory compliances</p>
                  <p>Due Diligence</p>

                </div>
              </div>
            </div>
            <div class="pricing-column col-lg-4 col-md-6 col-sm-12" style="
    padding-right: 0px;
    padding-left: 0px;
">
              <div class="card border-0" style = "background-color: #212529; color: white;">
                <div class="card-body">
                  <h4 class="card-title">SEBI Act,1992</h4>
                 <p>Listing/Delisting/ Relisting of securities </p>
                 <p>Audit & Certification under SEBI (LODR) </p>
                 <p>Assistance in compliance with provisions of SEBI (LODR) </p>
                 <p>Acting as scrutinizer in the process of postal ballot, court convened meeting, etc. </p>
                 <p> Other allied services </p>
                </div>
              </div>
            </div>

            <div class="pricing-column col-lg-4 col-md-6 col-sm-12" style="
    padding-right: 0px;
    padding-left: 0px;
" >
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title">Allied services</h4>
                  <p>Intellectual property Law matters </p>
                  <p>Trust & partnership firm registration and consequent compliances </p>
                  <p>Employment & Labour law compliances </p>
                  <p>GSTIN Registration & GST Filings </p>
                  <p>RBI & FEMA Compliances </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>

      <!-- Our Services -->
  <section id="our_services">

    <div class="row our_services_row">
      <div class="col-lg-4 feature-box" id="div_services">
        <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">01.</h3>
        <h5>Company Registration</h5>
        <p>Deciding a apt structure is the most important step to start up a business.
           Our company secretaries help you in deciding and incorporating Private Limited, LLP, 
           One Person Company, NGO, Trust and other business entities.</p>
      </div>

      <div class="col-lg-4 feature-box">
        <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">02.</h3>
        <h5>Tax Consultancy</h5>
        <p>Mitigate taxes, File timely returns and Get your refunds. 
          We provide complete advisory and compliance services for both Domestic and International tax related issues</p>
      </div>

      <div class="col-lg-4 feature-box">
        <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">03.</h3>
        <h5>Business Compliances</h5>
        <p>Our team of Company Secretaries can assist you with accounting,
           payroll processing and all procedures of Companies Act, 2013 along with compliance filing with the Registrar of Companies (RoC)</p>
      </div>

    <div class="col-lg-4 feature-box">
      <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">04.</h3>
      <h5>Event based compliances</h5>
      <p>Our expert company secretaries assist you with all event based compliances like change in the company name, addition of directors, private placement, address change etc..</p>
    </div>

  <div class="col-lg-4 feature-box">
    <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">05.</h3>
    <h5>Intellectual Property</h5>
    <p>It's important to register a trademark to protect your brand.
       Our lawyers can help you file the trademark application in 4 hours.</p>
  </div>

<div class="col-lg-4 feature-box">
  <h3 style="font-size: 40px;color: #cecece;line-height: 58px;text-align: center" class="vc_custom_heading">06.</h3>
  <h5>Annual Filings</h5>
  <p>We have comprehensive annual packages relieving entrepreneurs from the stress of maintaining their accounts and filings, allowing them to focus on their business and grow.</p>
</div>
</div>
</section>

<!-- Additional -->
<section id = "additional">
  <div class = "additional">
    <div class="overlay_additional">
      <h1>Content?</h1>
    </div>

  </div>
</section>

<!-- Contact Us -->
<section id = "footer">
  <div id = "contact_div"> 
    <div class="footer-business-info footer-socials">
      <div class="container footer-business-wrapper">
        <div class="footer-social-text">Find us on:</div>
        <div class="footer-social-icons"> 
          <a href="#" target="_blank"><span class="fab fa-facebook-f "></span></a> 
          <a href="#" target="_blank"><span class="fab fa-twitter"></span></a> 
          <a href="#" target="_blank"><span class="fab fa-google-plus-g"></span></a> 
          <a href="#" target="_blank"><span class="fab fa-skype"></span></a>
        </div>
        <div class="footer-newsletter-form">
          <div role="form" class="wpcf7" id="wpcf7-f163-o1" lang="en-US" dir="ltr">
            <form action="" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                  <input type="email" name="email" value="" class="form-control email-footer" aria-required="true" aria-invalid="false" placeholder="Email address" style="background: #1f1f1f;
                  width: 450px;height: 40px; border: none; color: white;">
                <input type="submit" value="Mail Us" class="wpcf7-form-control wpcf7-submit" style="float: right;">
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<script>
   window.addEventListener("scroll",function(){
    let navbar = document.getElementById('navbar');
    let navbarnav = document.getElementById('navbar-nav');

    if(window.scrollY>0){
      navbar.classList.add("cus-navbar");
    }else{
      navbar.classList.remove("cus-navbar");
    }
  });
</script>
</body>
</html>
